* {
  box-sizing: border-box;
  /* margin: 0px;
  padding: 0px; */
}

.box {
  width: 150px;
  height: 150px;
  font-size: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: -4px; */
  /* font-size:  */
  float: left;
  pointer-events: auto;
  cursor: auto;
}

.occupied {
  cursor: grab;
}

.board {
  width: 450px;
  height: 450px;
}

#selectbox {
  width: 150px;
  height: 150px;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background:rgba(red, green, blue, 0.5);
  /* margin-bottom: -4px; */
  /* font-size:  */
  /* float: left; */
  /* border: 1px solid red; */
  /* z-index: -1000; */
  pointer-events: none;
    cursor: grab;
}